<div class="right ">
    <%= link_to "Add", new_location_path,  :class => "waves-effect waves-light green lighten-green white-text btn-small btn-flat" %>
   
</div>
<p>
<table class="table table-striped table-hover table-responsive-sm table-bordered ">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>County</th>
            <th>Sub-County</th>
        </tr>
    </thead>
    <tbody class="black-text">
        <%= render @locations %>
    </tbody>
</table>
</p>